html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
    background: linear-gradient(black, gray, white);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: indigo;
}

h2 {
    color: darkred;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 500;
    color: white
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    z-index: 500;
}

#content {
    width: 100%;
    margin-top: 100px;
    /* 高さを調整し、内部だけスクロール可能に */
    height: calc(100vh - 140px); /* ヘッダー+フッターの高さ分引く */
    overflow: auto;
    padding: 20px 0;
}

#private {
    color: #1f1e33;
}